<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration for UDS4 Profile Shard                           -->
<!--                                                                       -->
<!-- ===================================================================== -->


<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">


    <!-- ================================================================= -->
    <!-- Appenders                                                         -->
    <!-- ================================================================= -->
    <!--
        Console appender
     -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] (%t:%x) - %m%n"/>
        </layout>
    </appender>


    <!-- 
        Application log file appender
    -->
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="File" value="log/system.log"/>
        <param name="maxBackupIndex" value="1" />
        <param name="maxFileSize" value="200mb" />
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] (%t:%x) - %m%n"/>
        </layout>
    </appender>


    <!-- ================================================================= -->
    <!-- Limit categories                                                  -->
    <!-- ================================================================= -->


    <category name="org">
        <priority value="error"/>
    </category>
    <category name="org.springframework">
        <priority value="info"/>
    </category>
    <category name="org.apache">
        <priority value="warn"/>
    </category>
    <category name="com">
        <priority value="error"/>
    </category>
    <category name="com.real">
        <priority value="error"/>
    </category>
    <category name="com.real.cassandra.queue">
        <priority value="info"/>
    </category>
    <category name="org.scale7.cassandra.pelops">
        <priority value="info"/>
    </category>

    <!-- ================================================================= -->
    <!-- Setup the Root category                                           -->
    <!-- ================================================================= -->
    <root>
        <priority value="INFO" /> 
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
    
</log4j:configuration>
